.combo-wrapper
{
	display: inline-block;	
}

.combo-menu {
    border-right: solid 1px #d4d4d4;
    border-left: solid 1px #d4d4d4;
    border-top: solid 1px #d4d4d4;
    background: #fff;	
	position : absolute;
	box-sizing : border-box;
}

.combo-input
{
    border: solid 1px #d4d4d4 !important;
    height: 28px !important;	
    float: left;
    margin: 0;		
	display: inline-block;
	box-sizing : border-box;
}

.combo-arrow
{
    width: 28px;
    height: 28px;
    display: block;
    background: transparent url('images/icons.png') no-repeat 9px 9px;
    border: solid 1px #d4d4d4;
	box-sizing : border-box;
    float: left;
    border-left : 0;
}

.combo-menu li.row
{
    height: 2.4em;
    line-height: 2.4em;
    border-bottom: solid 1px #d4d4d4 ;
    text-align: center;
}